* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #121212;
}

#website-sidebar {
  width: 230px;
  height: 100vh;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
}

#website-sidebar__div {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

#website-logo {
  /* background: blue; */
  display: flex;
  align-items: center;
  padding-top: 10%;
}

#website-logo__image {
  font-size: 2.5rem;
  color: #fff;
}

#website-logo__text h3 {
  font-size: 1.5rem;
  margin-left: 8px;
  color: #fff;
}

#website-links-ff {
  color: #ababab;
  /* background: red; */
  padding-top: 15%;
}

#website-links-ff__home {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 1.2rem;
  margin-bottom: 8%;
}

#website-links-ff__home__text {
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
}

#website-links-ff__home__icon i {
  color: #fff;
}

#website-links-ff__search {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 1.2rem;
  margin-bottom: 8%;
}

#website-links-ff__search__text {
  font-size: 0.9rem;
  font-weight: bold;
}

#website-links-ff__library {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 1.2rem;
}

#website-links-ff__library__text {
  font-size: 0.9rem;
  font-weight: bold;
}

#website-links-ss {
  color: #ababab;
  /* background: red; */
  padding-top: 15%;
}

#website-links-ss__create_playlist {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 1.2rem;
  margin-bottom: 8%;
}

#website-links-ss__create_playlist__text p {
  font-size: 0.9rem;
  font-weight: bold;
}

#website-links-ss__liked_songs {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 1.2rem;
}

#website-links-ss__liked_songs i {
  color: red;
  opacity: 0.8;
}

#website-links-ss__liked_songs p {
  font-size: 0.9rem;
  font-weight: bold;
}

#website-links-divider {
  padding-top: 10%;
}
#website-links-divider__line {
  height: 0.5px;
  width: auto;
  background: #ababab;
}

#website-links-th {
  padding-top: 10%;
  color: #ababab;
  font-size: 0.9rem;
}

#website-links-th__link_ff {
  margin-bottom: 6%;
}

#website-links-fo {
  color: #ababab;
  padding-top: 50%;
}

#website-links-fo__install {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 1.2rem;
}

#website-links-fo__install__text p {
  font-size: 0.9rem;
  font-weight: bold;
}

#website-main-content {
  /* width: auto; */
  margin-left: 230px;
  margin-right: 300px;
  height: 100%;
}

#website__body {
  background: #121212;
}

#website__albums {
  margin: auto;
}

#website__navbar {
  background: #16161a;
  position: sticky;
  top: 0;
  box-shadow: 0px 1px #000;
  z-index: 2;
}

#trending__songs {
  margin-top: 30px;
  display: grid;
  grid-gap: 6px !important;
  grid-template-columns: repeat(4, 1fr);
}

.trending__songs__card {
  background: #181818;
  justify-self: center;
  padding: 10px 10px 24px 10px;
  border-radius: 6px;
  box-shadow: 1px 1px 10px #000;
  transition: transform 0.2s ease-in-out;
}

.trending__songs__card:hover {
  cursor: pointer;
  transform: scale(1.3);
  z-index: 3;
}


.trending__songs__card__img img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.trending__songs__card__desc {
  margin-top: 8px;
}

.card__desc__song_name {
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
}

.card__desc__artist_name {
  color: #b3b3b3;
  font-size: 0.8rem;
}

#latest_release {
  margin-top: 30px;
  padding: 10px;
}

#latest_release__heading {
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 8px;
}

#latest_release__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 12px !important;
  grid-row-gap: 6px !important;
}

.latest_release__card {

  /* background: blue; */
  display: flex;
  align-items: center;
  padding: 0 8px;
  position: relative;
}

.latest_release__card__ff {
  display: flex;
  align-items: center;
}

.latest_release__card__ff__desc {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.card__ff__desc__song_name {
  font-size: 0.9rem;
  color: #fff;
  font-weight: 600;
}

.card__ff__desc__release_date {
  font-size: 0.6rem;
  color: #b3b3b3;
  font-weight: bold;
}

.latest_release__card__ss {
  margin-left: auto;
  margin-right: 4px;
}

.latest_release__card__ss i {
  color: #fff;
}

.latest_release__card__ss i:hover {
  cursor: pointer;
}

.latest_release__card__ss p {
  font-size: 0.6rem;
  font-weight: bold;
  color: #b3b3b3;
}

.latest_release__card__ff__img:hover {
  cursor: pointer;
  opacity: 0.7;
}


.latest_release__card__ff__img img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.latest__release__card__popup {
  /* display: none; */
  position: absolute;
  top: 45px;
  right: 0;
  background: #fff;
  border-radius: 4px;
  display: none;
}

.latest__release__popup__div {
  padding: 6px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.latest__release__popup__item {
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: #000;
}

.latest__release__popup__item p {
  color: #000;
  font-size: 0.8rem;
  font-weight: 400;
}

.latest__release__popup__item i {
  color: #000;
}

input[type="checkbox"] {
  display: none;
}

#latest__release__card__1[type="checkbox"]:checked ~ #latest__release__card__1__popup {
  display: block;
  z-index: 1;
}

#latest__release__card__2[type="checkbox"]:checked ~ #latest__release__card__2__popup {
  display: block;
  z-index: 1;
}

#latest__release__card__3[type="checkbox"]:checked ~ #latest__release__card__3__popup {
  display: block;
  z-index: 1;
}

#latest__release__card__4[type="checkbox"]:checked ~ #latest__release__card__4__popup {
  display: block;
  z-index: 1;
}

/* different__zoneras styles start */

#different__zoneras {
  margin-top: 30px;
}

/* different__zoneras__ff starts */

#different__zoneras__ff {
  background: #000;
  padding: 10px 0;
}

#different__zoneras__ff__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.different__zoneras__ff__item {
  justify-self: center;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  box-shadow: 2px 0px 2px #fff;
}

.different__zoneras__ff__item__img {
  position: relative;
}

.different__zoneras__ff__item__img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  opacity: 0.6;
}

.different__zoneras__ff__item__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.different__zoneras__ff__item__text p {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
}

/* different__zoneras__ff ends */

/* different__zoneras__ss starts */
#different__zoneras__ss {
  margin-top: 30px;
}

#different__zoneras__ss__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.different__zoneras__ss__item {
  justify-self: center;
}

.different__zoneras__ss__item__img {
  position: relative;
  overflow: hidden;
  
}

.different__zoneras__ss__item__img img {
  width: 220px;
  height: 150px;
  object-fit: cover;
  opacity: 0.6;
  transition: 0.3s all ease-in-out;
}

.different__zoneras__ss__item__img:hover img {
  cursor: pointer;
  transform: scale(1.3);
}

.different__zoneras__ss__item__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.different__zoneras__ss__item__text p {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
}

/* different__zoneras styles end */


/* different__language__songs style starts */

#different__language__songs {
  margin-top: 30px;
}

.different__language__songs__ff {
  padding: 10px;
}

.lang__song__heading p {
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.latest__lang__songs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.latest__lang__songs__card {
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.latest__lang__songs__card__img img {
  height: 100px;
  width: 100px;
}

.latest__lang__songs__card__desc {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.latest__lang__songs__card__desc__song_name p {
  font-size: 0.8rem;
  color: #fff;
  font-weight: 600;
}

.latest__lang__songs__card__desc__release_date p {
  font-size: 0.6rem;
  color: #b3b3b3;
  font-weight: bold;
}

/* different__language__songs style ends */


/* video__player style starts */
#video__player {
  /* display: none; */
  width: 100vw;
  height: auto;
  position:fixed;
  bottom: 0;
  z-index: 1;
}

#video__player__div {
  background: #181818;
  position: absolute;
  width: 100%;
  bottom: 0;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  /* padding: 4px 4px; */
  padding: 0 14px;
}

.video__player__div__item {
  /* justify-self:center !important; */
  width: 100%;
  /* width: 100%; */
  padding: 4px;
}

#video__player__div__ff {
  /* justify-self: start; */
  display: flex;
  /* background: red; */
}

#video__player__div__ff__1 {
  display: flex;
  align-items: center;
}

#ff__1__desc {
  margin-left: 8px;
}

#ff__1__desc__song_name {
  font-size: 0.8rem;
  color: #fff;
  font-weight: 500;
}

#ff__1__desc__artist_name {
  font-size: 0.6rem;
  color: #b3b3b3;
}

#ff__1__img img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

#video__player__div__ff__2 {
  margin-left: auto;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

#video__player__div__ff__2 i {
  color: #b3b3b3;
}

#video__player__div__ss {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #000; */
  flex-direction: column;
}

#video__player__div__ss__1 {
  /* display: grid; */
  /* justify-content: space-around; */
  display: flex;
  column-gap: 20px;
  margin-bottom: 4px;
}

#video__player__div__ss__1 i {
  font-size: 1.2rem;
  color: #b3b3b3;
}

#pause__button i {
  color: #fff;
}

#video__player__div__ss__2 {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

#video__player__div__ss__2 div {
  height: 4px;
  width: 300px;
  background: #5e5e5e;
  border-radius: 2px;
  position: relative;
}

#video__player__div__ss__2 div::after {
  content: '';
  position: absolute;
  width: 80%;
  height: 100%;
  border-radius: inherit;
  background: #1ed760;
}

#video__player__div__ss__2 div::before {
  content: '';
  position: absolute;
  height: 8px;
  width: 8px;
  background: #fff;
  left: 78%;
  top: -2px;
  z-index: 2;
  border-radius: 50%;
}

#video__player__div__ss__2 p {
  color: #b3b3b3;
  font-size: 0.8rem;
}

#video__player__div__th {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: red; */
}

#video__player__div__th__1 {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

#video__player__div__th__1 i {
  color: #fff;
}

#video__player__div__th__1 div {

  width: 100px;
  height: 4px;
  background: #5e5e5e;
  border-radius: 2px;
  position: relative;
}

#video__player__div__th__1 div::after {
  position: absolute;
  content: '';
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: inherit;
}

/* video__player style ends */


#popular__artist__section {
  margin-top: 30px;
  padding: 10px;
}

#popular__artist__section__heading p {
  font-size: 1.1rem;
  color: #fff;
  font-weight: bold;
  margin-bottom: 8px;
}

#popular__artist__section__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.popular__artist__section__grid__item {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 6px;
}

.popular__artist__section__grid__item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.popular__artist__section__grid__item p {
  font-size: 0.8rem;
  color: #fff;
  font-weight: 600;
}

#website__navbar__items {
  display: flex;
  align-items: center;
  padding: 14px;
}

#website__navbar__ul__ff {
  display: flex;
}

#website__navbar__ul__ff i {
  font-size: 1.8rem;
  /* color: rgba(0, 0, 0, 0); */
  color: rgba(256, 256, 256, 0.6);
}

#website__navbar__ul__ff__back {
  margin-right: 8px;
}

#website__navbar__ul__ss {
  margin-left: auto;
  display: flex;
  align-items: center;
}

#website__navbar__ul__ss__upgrade {
  margin-right: 50px;
  display: none;
}

#website__navbar__ul__ss__upgrade button {
  background: none;
  border: none;
  font-size: 0.8rem;
  font-weight: bold;
  color: #fff;
  border: 1px solid #fff;
  padding: 8px 16px;
  border-radius: 18px;
}

#__profile__container {
  display: flex;
  background: #282828;
  padding: 8px 16px;
  border-radius: 18px;
  align-items: center;
}

#__profile__container__profile_icon i {
  color: #fff;
}

#__profile__container__profile_name {
  margin: 0 10px;
}

#__profile__container__profile_name p {
  color: #fff;
  font-size: 0.9rem;
  font-weight: bolder;
  align-items: center;
}

#__profile__container__dropdown_icon i {
  color: #fff;
}

#website-sidebar__song_queue {
  top: 0;
  right: 0;
  position: fixed;
  width: 300px;
  height: 100vh;
  background: #121212;
  /* background: #181818; */
  overflow-y: scroll;
  overflow-x: hidden;
}

#song_queue__header {
  top: 0;
  position: sticky;
  margin-bottom: 2px;
  /* height: 40px; */
  display: flex;
  align-items: center;
  background: #16161a;
  padding: 20px;
}

#song_queue__text p {
  font-size: 1.2rem;
  font-weight: bolder;
  color: #fff;
}

#song_queue__dropdown {
  display: flex;
  align-items: center;
  margin-left: auto;
}

#song_queue__dropdown__text {
  margin-right: 4px;
}
#song_queue__dropdown__text p {
  font-size: 0.8rem;
  font-weight: bold;
  color: #1ed760;
}

#song_queue__dropdown__icon {
  position: relative;
}

.song_queue__popup__div {
  position: absolute;
  background: #fff;
  left: -140px;
  top: 30px;
  padding: 4px 14px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  border-radius: 4px;
}

.song_queue__popup__div__item p {
  font-size: 0.8rem;
}

#song_queue__dropdown__icon i {
  color: #1ed760;
}

#song_queue__popup[type="checkbox"] {
  display: none;
}

#song_queue__popup[type="checkbox"]:checked ~ .song_queue__popup__div {
  display: none;
}

#song_queue__dropdown__icon i:hover {
  cursor: pointer;
}

.song_queue__items__item {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  /* background: blue; */
  margin-bottom: 6px;
}

.queue__item__ff {
  color: #fff;
  display: flex;
  align-items: center;
}

.queue__item__num p {
  font-size: 0.8rem;
  font-weight:  400;
  color: #b3b3b3;
}

.song_desc__song_name p {
  font-size: 0.8rem;
  font-weight: bold;
}

.song_desc__artist_name p {
  font-size: 0.6rem;
  font-weight: bold;
  color: #b3b3b3;
}

.queue__item__img {
  margin: 0 6px;
}
.queue__item__img img {
  width: 40px;
  height: auto;
  object-fit: contain;
}

.queue__item__ss {
  color: #b3b3b3;
  margin-left: auto;
}
